#dmskeywords-navigation {
  margin-top: 1em;
}

#dmskeywords-navigation-left {
  float: left;
  padding-right: 1em;
}

#dmskeywords-navigation-center {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#dmskeywords-navigation-right {
  padding-left: 1em;
  float: left;
}