.site-Plone.section-th
#dmskeywords-navigation {
  float: left;
	border: 1px solid gray;
	margin: 1em 0;
	padding: 1em;
	width:  90%;
}

#dmskeywords-navigation h1 {
	margin-bottom: .5em;
}

#dmskeywords-navigation-broader {
  padding-bottom: 1em;
}

#dmskeywords-navigation-narrower {
  padding-top: 1em;
}

#dmskeywords-navigation-left {
  float: left;
  padding-right: 1em;
}

#dmskeywords-navigation-right {
  float: right;
  padding-left: 1em;
	border-left: 1px solid gray;
}
